
.chat-form {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 600px;
}

.chat-input {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #41556b;
  border-radius: 5px;
  color: #4e87c5;
  background-color: rgba(0, 0, 0, 0.8);
}

.send-button {
  padding: 10px 20px;
  background-color: #41556b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-messages {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #41556b;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  height: 80%;
  position: relative; /* Added to enable positioning of the tabs */
}

.user-message {
  color: #4e87c5;
  margin-right: 10px;
}

.bot-message {
  color: rgb(87, 185, 87);
  margin-left: 10px;
}

.chat-messages p {
  white-space: pre-wrap; /* Maintains whitespace formatting */
}

.mic-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.listening {
  animation: shine-animation 1s infinite;
}

@keyframes shine-animation {
  0% {
    color: #fff; /* original color */
  }
  50% {
    color: #ffcccb; /* lighter shade for a shine effect */
  }
  100% {
    color: #fff; /* back to the original color */
  }
}

/* Tab styles */
.chat-tabs-container {
  display: flex;
  justify-content: left;
  width: 90%;
}

.chat-tabs {
  display: flex;
}

.chat-tabs button {
  padding: 10px 20px;
  background-color: #41556b;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.chat-tabs button.active {
  background-color: #4e87c5;
}

.chat-tabs button:not(.active):hover {
  background-color: #2e3b4e;
}

.chat-messages pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .chat-form {
    flex-direction: column;
    align-items: center;
  }

  .chat-input,
  .send-button,
  .mic-button {
    width: 90%;
    margin-top: 10px;
  }

  .send-button,
  .mic-button {
    padding: 15px 20px; /* Larger touch targets */
  }

  .chat-messages {
    height: 50vh; /* Smaller height for more room for the input area */
  }
}
