body {
  background-image: url('./city_night.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.chat-form {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 600px;
}

.chat-input {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #41556b;
  border-radius: 5px;
  color: #4e87c5;
  background-color: rgba(0, 0, 0, 0.8);
}

.send-button {
  padding: 10px 20px;
  background-color: #41556b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-messages {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #41556b;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  height: 80%;
}

.user-message {
  color: #4e87c5;
  margin-right: 10px;
}

.bot-message {
  color: rgb(87, 185, 87);
  margin-left: 10px;
}

.chat-messages p {
  white-space: pre-wrap; /* Maintains whitespace formatting */
}

.mic-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.listening {
  animation: shine-animation 1s infinite;
}

@keyframes shine-animation {
  0% {
      color: #fff; /* original color */
  }
  50% {
      color: #ffcccb; /* lighter shade for a shine effect */
  }
  100% {
      color: #fff; /* back to the original color */
  }
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .chat-form {
    flex-direction: column;
    align-items: center;
  }

  .chat-input, .send-button, .mic-button {
    width: 90%;
    margin-top: 10px;
  }

  .send-button, .mic-button {
    padding: 15px 20px; /* Larger touch targets */
  }

  .chat-messages {
    height: 50vh; /* Smaller height for more room for the input area */
  }
}